[submodule "WilkoEngine/vendor/spdlog"]
	path = WilkoEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "WilkoEngine/vendor/GLFW"]
	path = WilkoEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
